body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    'Ubuntu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #21476b 0%, #4b7194 100%);
}

.registerContainer {
  display: flex;
  flex-direction: row; /* Changed to row to place image and form side by side */
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #21476b;
  width: 100%;
  max-width: 1000px;
  color: #ffdb70;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sideImage {
  flex: 1;
  margin-right: 20px;
}

.registerFormContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerInput {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #21476b;
}

.registerInput::placeholder {
  color: #999;
}

.registerButton, .loginButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.registerButton {
  background-color: #ffdb70;
  color: #21476b;
}

.registerButton:hover {
  background-color: #21476b;
  color: #ffdb70;
  transform: translateY(-2px);
}

.loginButton {
  background-color: transparent;
  color: #ffdb70;
  text-decoration: none;
  margin-top: 10px;
}

.loginButton:hover {
  transform: translateY(-2px);
}

.link {
  color: #ffdb70;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.side-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .registerContainer {
    flex-direction: column;
    padding: 30px;
    max-width: 100%;
  }

  .registerTitle {
    font-size: 1.5rem;
  }

  .registerInput {
    font-size: 0.9rem;
  }

  .registerButton, .loginButton {
    font-size: 0.9rem;
  }

  .sideImage {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .registerContainer {
    padding: 20px;
  }

  .registerTitle {
    font-size: 1.2rem;
  }

  .registerInput {
    font-size: 0.8rem;
  }

  .registerButton, .loginButton {
    font-size: 0.8rem;
  }
}
