.home {
  display: grid;
  grid-template-columns: 1fr 300px; /* Adjust the sidebar width as needed */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

.loadingSpinner {
  font-size: 2rem;
  color: #21476b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
}
