/* sidebar.css */

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #21476b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  max-width: 350px;
  max-height: 35rem;
  color: #ffdb70;
}

.sidebarItem {
  margin-bottom: 20px;
}

.sidebarTitle {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffdb70;
  margin-bottom: 2%;

}

.sidebarImg {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarListItem {
  padding: 10px 0;
  cursor: pointer;
  color: #ffdb70;
  transition: color 0.3s ease;
}

.sidebarListItem:hover {
  color: #21476b;
  background-color: #ffdb70;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.sidebarSocial {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.sidebarIcon {
  font-size: 1.5rem;
  color: #ffdb70;
  transition: color 0.3s ease;
  cursor: pointer;
}

.sidebarIcon:hover {
  color: #21476b;
  background-color: #ffdb70;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 10px;
  }
}
