/* customDialog.css */
.dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .dialogBox {
    background-color: #21476b;
    color: #ffdb70;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    
  }
  /* .message p,h2{
    text-align: start;
   
  } */
  .dialogButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancelButton,
  .deleteButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .warningIcon {
    font-size: 20px;
    color: #ffdb70;
    margin-bottom: 10px;
  }

  .cancelButton {
    background-color: #21476b;
    color: #ffdb70;
  }
  .cancelButton:hover{
    background-color:#ffdb70 ;
    color: #21476b;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
  }
  